.scrollNews {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.articleContainer {
  min-width: 78vw;
  height: 44vh;
  border-radius: 20px;
  margin-left: 4vw;
  scroll-snap-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articleInfo {
  width: 88%;
  border-radius: 20px;
  padding: 6% 8%;
  position: absolute;
  background-color: white;
  margin: 8% auto;
  bottom: 0;
  right: 0;
  left: 0;
}

#title {
  font-size: 4.8vw;
  color: #222;
}

.subHeading {
  width: 100%;
  display: inline-block;
  margin: 8% 0 -4px 0;
  font-weight: 400;
  font-size: 3.8vw;
}

#ctgType {
  color: #5a9bd6;
  text-transform: uppercase;
  float: left;
}

#datePublished {
  color: #707070;
  float: right;
}
